/* font-family: 'Abel', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Patua One', cursive; */

.menu-item{
  list-style: none;
  float: left;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.menu-item:hover{
    color: #42f4b3;
  }
